@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

body {
  font-family: Arial, Helvetica, sans-serif;
}

@keyframes bell-animation {
  20% {
    transform: rotate(15deg);
  }

  40% {
    transform: rotate(-15deg) scale(1.1);
  }

  60% {
    transform: rotate(10deg) scale(1.1);
  }

  80% {
    transform: rotate(-10deg);
  }

  0%,
  100% {
    transform: rotate(0deg);
  }
}

@media print {
  body {
    background: white;
  }

  .print-timetable {
    border: 0;
    box-shadow: none;
  }
}
